/* colors used
Text color: black;
Primary Color (Lavender): #827397;
Secondary Color (Light Pink): #d8b9c3;
 */

 * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
body{
    color: white;
    color: black;
    }

body{
    font-family: 'Halant', 'nunito-sans';
    font: 400px; 
    font-size: 24px;
    line-height: 1.6;
    }

h1  {
    font-size: 30px;
    font-weight: 700;
    }

p   {
    font-size: 16px;
    font: 400px; 
    }

.profile__portrait {
    float: left;
    width: 25%;
    margin-right: 40px;
    border-radius: 50%;
                   }

.profile {
    max-width: 700px;
    margin: 0 auto;
        }
/* If you don’t want a specific element of your content flowing 
around a floated element, you need to give that element the property*/

.page-footer{
    clear:both; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
             }

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
/*flex */
              }

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
                   }
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

/*nav bar*/
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

/*work page*/
.grid {
    display: -ms-grid;
    display: grid;
  }
.grid__item {
    color: lightgray;
    padding: 10px;
}
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 20px 300px 20px 300px;
    grid-template-columns: 300px 300px 300px;
    -ms-grid-rows: 300px 20px 300px;
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    padding: 10px;
}
.grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
.grid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button__secondary {
    background-color: #827397;
    color: #2b2b2b;}
    
    button:hover,
    button:focus,
    .button:hover,
    .button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
      cursor: pointer;
      /* reduces the opacity of the button to 80% */
      opacity: 0.8;
    }
 
a{
  color: #827397;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
a:visited {
    /* visited link */
    color: #301934;
}
a:active {
    /* selected link */
    color: #4d4c7d;
}
/* contact page style*/
.contact-me{
    text-align: center;    
}  

/*media queries*/
@media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;  /*not working*/
    }
  }
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
/* animations */
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}